<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% created_at = notification.created_at.strftime("%Y-%m-%d %H:%M") %>
<% case notification.action %>
<% when "direct_message" %>
<p>
  <%= link_to "#{visitor.email}", user_path(visitor) %>
  さんからダイレクトメッセージが届きました。
  <span style="color: grey;"><%= created_at %></span>
  <%= link_to "既読にする", notification_path(notification), method: :patch, data: { confirm: "既読済みしますか？" } %>
</p>
<% when "invitation" %>
<p>
  <%= link_to "#{visitor.email}", user_path(visitor) %>
  さんからグループに招待されました。
  <%= link_to "参加する", join_group_path(notification.group_id) %>
  <span style="color: grey;"><%= created_at %></span>
  <%= link_to "既読にする", notification_path(notification), method: :patch, data: { confirm: "既読済みしますか？" } %>
</p>
<% when "group_message" %>
<p>
  <%= link_to "#{visitor.email}", user_path(visitor) %>さんが
  <%= link_to "グループ", group_path(notification.group_id) %>にメッセージを投稿しました。
  <span style="color: grey;"><%= created_at %></span>
  <%= link_to "既読にする", notification_path(notification), method: :patch, data: { confirm: "既読済みしますか？" } %>
</p>
<% end %>
