<h1><%= @group.name %></h1>
<hr>
<p style="color: limegreen;">グループメンバー</p>
<% @users.each do |user| %>
  <p>
    <%= link_to "#{user.email}", user_path(user) %>
  </p>
<% end %>
<p>
  <%= link_to "グループ情報を編集する", edit_group_path(@group) %>
</p>
<hr>
<div>
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <div class="chat-box">
        <div class="chat-text">
          <% if message.user_id == current_user.id  %>
            <p style="color: limegreen;"><%= message.user.email %></p>
            <p><strong><%= message.content %></strong></p>
            <p style="color: grey;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% else %>
            <p><%= message.user.email %></p>
            <p><strong><%= message.content %></strong></p>
            <p style="color: grey;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>メッセージはまだありません。</p>
  <% end %>
</div>
<hr style="margin: 30px 0 30px 0;">
<div class="posts">
  <%= form_with url: group_messages_path, method: :post, local: true do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力してください。" %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
