<div class="chat-room">
  <h1>メッセージ</h1>
  <% @entries.each do |entry| %>
    <div>
      <%= link_to "#{entry.user.email} さん", user_path(entry.user.id) %>
    </div>
  <% end %>
  <hr style="margin: 30px 0 30px 0;">
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <div class="chat-box">
            <div class="chat-text">
              <% if message.user_id == current_user.id  %>
                <p style="color: limegreen;"><%= message.user.email %></p>
                <p><strong><%= message.content %></strong></p>
                <p style="color: grey;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <% else %>
                <p><%= message.user.email %></p>
                <p><strong><%= message.content %></strong></p>
                <p style="color: grey;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>メッセージはまだありません。</p>
      <% end %>
    </div>
  </div>
  <hr style="margin: 30px 0 30px 0;">
  <div class="posts">
    <%= form_with model: @message, local: true do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力してください。" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>
